<div id="login" class="auth-form">
  <div>
    <h1 class="fs-2 fw-bold text-center mb-3 text-main">
      Forget Password
    </h1>
  </div>
  <form [formGroup]="forgetPasswordForm" (ngSubmit)="loginNow()" class="pt-sm-4 pt-2">
    <div class="mb-3">
      <label for="email" class="mb-2">Email Address</label>
      <input id="email" class="form-control" type="text" placeholder="Enter email" formControlName="email" />
      <ng-container
        *ngIf="formControls?.email?.invalid && (formControls?.email?.dirty || formControls?.email?.touched)">
        <div class="mt-1">
          <ng-container *ngIf="formControls?.email?.errors?.required">
            <span class="text-danger fs-8">
              Email is required
            </span>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <button type="submit" class="btn w-100 btn-solid-main mt-4 fs-6" [disabled]="forgetPasswordForm.invalid">
      Submit
    </button>


    <div class="mt-4 fs-6" *ngIf="showError">
      <p class="mb-0 text-center alert alert-danger text-danger">
        {{' Incorrect Email'}}
      </p>
    </div>
  </form>
</div>