#product-details {
  .product-img {
    height: 22rem;
    img {
      border-radius: 10px;
    }
  }
  .description {
    color: #949494;
  }
  .price {
    color: var(--text-main);
  }

  .btn {
    height: 2.5rem;
  }
}
